<title> Sponsors </title>

<% if @sponsor.errors.any? %>
  <div>
    <h2>Errors:</h2>
    <ul>
      <% @sponsor.errors.full_messages.each do |s| %>
        <li><%= s %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>New Sponsor</h1>
<form action="/sponsors" method="post">
  <div class="form-group">
    Sponsor Name:
    <input type="text" name="name" value="<%= @sponsor.name %>">
  </div>
  <div class="form-group">
    Sponsor Value:
    <input type="text" name="value" value="<%= @sponsor.value %>">
  </div>
  <div class="form-group">
    <input type="submit" value="Add New Sponsor" class="btn btn-default">
  </div>
</form>
<p><a href="/sponsors">Back to Sponsors</a></p>

</body>
</html>
