<title> Players - Club </title>
<h1><%= @player.name %></h1>
<div></div>
<h3>Current Club:</h3>
<h3><%= @club.name %></h3>

<p><a href="/clubs/<%= @club.id %>">Back to <%= @club.name %></a></p>
<p><a href="/clubs">Back to all Clubs</a></p>
