<title> Players </title>
<h1>Players Index</h1>
<ol>
  <% @players.each do |x| %>
    <li><a href="/players/<%= x.id %>"><%= x.name %></a>  /  <%= x.club.name unless x.club.nil? %></li>
  <% end %>
</ol>
<p><a href="/players/new">New Player</a></p>
<p><a href="/">Back Home</a></p>
