<h1>New Flash Card</h1>

<% if @flash_card.errors.any? %>
  <div>
    <h2>Errors:</h2>
    <ul>
      <% @flash_card.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="/flash-cards" method="post">
  <div class="form-group">
    Question:
    <input type="text" class="form-control" name="question" value="<%= @flash_card.question %>">
  </div>
  <div class="form-group">
    Answer:
    <input type="text" class="form-control" name="answer" value="<%= @flash_card.answer %>">
  </div>
  <div class="form-group">
    Point Value:
    <input type="text" class="form-control" name="point_value" value="<%= @flash_card.point_value %>">
  </div>
  <div class="form-group">
    Due Date:
    <input type="date" name="due_date">
  </div>

  <div class="form-group">
    <input type="submit" value="Make a new Flash Card" class="btn btn-default">
  </div>

</form>
