<h1>Show Page</h1>

<p><%= @flash_card.question %></p>
<p><%= @flash_card.point_value %> points</p>
<p><a href="/flash-cards/<%= @flash_card.id %>/answer">See the Answer</a></p>
<p><a href="/flash-cards/<%= @flash_card.id %>/edit">Edit</a></p>
