<html>
<title> ¯\_(ツ)_/¯ </title>
<h1>Welcome to Fantasy Financial Calculator</h1>


<body>
  <h3>Take a look at available <a href="/sponsors"> Sponsors</a></h3>
  <br>
  <h3>Take a look at the list of <a href="/clubs"> Clubs</a></h3>
  <br>
  <h3>Take a look at the list of <a href="/players"> Players</a></h3>
  <br>

</body>
</html>
