<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <a href="/sponsors"> Sponsors  /   </a>
    <a href="/clubs"> Clubs  /   </a>
    <a href="/players"> Players  /   </a>
    <a href="/"> Back to Main Menu</a>
    <%= yield %>
  </body>
</html>
