<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <a href="/sponsors"> Sponsors  /   </a>
    <a href="/clubs"> Clubs  /   </a>
    <a href="/players"> Players  /   </a>
    <a href="/"> Main Menu</a>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
